li {
  list-style-type: none;
}

.Member_container {
  background: rgb(255, 245, 212);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 10px 80px;
  height: 50vh;
  width: 100%;
}

@media (min-width: 768px) {
  .Member_container {
    /* width: 384px; */
  }
}
