li {
  list-style-type: none;
}

.Member_container {
  background: rgb(255, 245, 212);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 50px 0;
  width: 100%;
}
.MemberNavList__heading {
  padding: 20px;
}

.hive-member {
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .Member_container {
    width: 50vw;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .Member_container {
    width: 25vw;
    height: auto;
    justify-content: flex-start;
    padding-top: 260px;
  }
}
