.LoginPage {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.LoginPage__logo {
  z-index: 1;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 40px auto;
}
.link {
  text-decoration: none;
  color: #ff4500;
}

.link:hover {
  color: rgb(252, 239, 182);
}

.login-header {
  margin-top: 60px;
  margin-bottom: 10px;
  color: #ff4500;
}

@media (min-width: 768px) {
  .LoginPage__logo {
    width: 300px;
    height: 300px;
  }
}
