.LoginPage {
  margin: 0;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
}

.link {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.link:hover {
  color: rgba(248, 181, 0, 0.83);
}

.login-header {
  font-family: "Calistoga", cursive;
  color: rgb(255, 0, 0);
}
.user-link {
  text-align: center;
}
