.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 460px;
  padding: 10px 0 10px 0;
}

.RegForm__label {
  display: flex;
}

.RegForm__input {
  border: 10px;
  border-bottom: solid 1px gray;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  padding: 10px;
}
.RegForm__input:focus {
  background-color: rgb(255, 245, 212);
}

.link {
  text-decoration: none;
  color: orangered;
}

.link:hover {
  color: rgba(248, 181, 0, 0.83) 83%;
}
