* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.hex-graphic {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 40px;
  z-index: -1;
}

.wrapper h1 {
  padding: 0;
  margin: 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gold;
  font-size: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.pre-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  animation: pulse 8s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -20;
}
.post-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150vh;
  animation: pulse 5s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -20;
}

@keyframes pulse {
  0% {
    background-color: #fff5d4;
  }
  50% {
    background-color: rgb(255, 196, 0);
  }
}

.landing__tagline::before {
  content: "WeHive";
  animation: animate infinite 2s;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes animate {
  0% {
    text-transform: capitalize;
    letter-spacing: 0.2em;
  }
  100% {
    content: "Achieve";
    letter-spacing: 0.5em;
  }
}

.landing__content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
  margin: 10px;
}

.left,
.right {
  margin: 60px 0 40px;
}
.hdg {
  font-size: 22px;
  color: orangered;
  font-style: italic;
  line-height: 2.4;
}

.bold {
  font-weight: 900;
  color: orangered;
}

.landing__title {
  line-height: 2;
  font-size: 20px;
  text-align: center;
  color: #ffd54d;
  font-weight: 500;
}

.landing__subtitle {
  font-size: 20px;
  line-height: 1.9;
  text-align: center;
  color: #ffd54d;
  margin: 10px;
  position: relative;
}

.step {
  position: absolute;
  color: #fff5d4;
  font-size: 36px;
  z-index: 10;
  margin-top: 40px;
  width: 100%;
}

.text {
  text-align: center;
}

.hexagon {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bold-text {
  font-size: 40px;
  text-transform: uppercase;
  color: orangered;
}

.landing__title-exp {
  font-size: 40px;
  text-align: center;
  color: orangered;
}

.ldg-btn {
  background-color: #ff940d;
  border-radius: 6px;
  font-size: 22px;
  color: black;
  font-weight: bold;
  border: 1px solid #ff940d;
  width: 100%;
  height: 44px;
  cursor: pointer;
}

.ldg-btn:hover {
  background-color: #ffd54d;
  color: #ff940d;
}

.chevron-block {
  height: 40px;
  width: 40px;
  background-color: #ff940d;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.chevron {
  color: #ffedb1;
}

.large {
  font-size: 30px;
}

@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 70px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing__content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .step {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .wrapper h1 {
    font-size: 100px;
  }

  .landing__content {
    width: 800px;
  }

  .post-demo {
    height: 100vh;
  }

  .landing__content,
  .hdg {
    font-size: 24px;
  }

  .hex-exp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  .step-box {
    position: relative;
  }
  .step {
    position: absolute;
    font-size: 32px;
    margin-top: 150px;
    align-items: center;
    text-align: center;
    z-index: 20;
  }
  .bold-text {
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  .wrapper h1 {
    font-size: 160px;
  }

  .landing__content {
    width: 800px;
    margin-bottom: 50px;
  }
  .left {
    margin-right: 150px;
  }

  .right {
    margin-left: 150px;
  }
}

@media (min-width: 2560px) {
  .post-demo {
    height: 100vh;
  }

  .hdg,
  .landing__content {
    font-size: 30px;
  }

  .ldg-btn {
    height: 70px;
  }
}
