* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper {
  display: block;
  margin-top: 20px;
}

.wrapper h1 {
  padding: 0;
  margin: 0;
  color: gold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
}

.landing__tagline:before {
  content: "";
  animation: animate infinite 10s;
  transition: ease-in;
}
@keyframes animate {
  0% {
    content: "WeHive";
  }
  50% {
    content: "Achieve";
  }
  100% {
    content: "WeHive";
  }
}
