* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  z-index: -10;
  position: absolute;
  width: 100%;
  /* height: 50vh; */
}
.wrapper {
  display: block;
}

.wrapper h1 {
  padding: 0;
  margin: 0;
  color: gold;
  height: 180px;
  justify-content: center;
  font-size: 60px;
  text-align: center;
}

.pre-demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pre-demo,
.post-demo {
  height: 55vh;
  z-index: -10;
  animation: pulse 8s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* @keyframes pulse {
  0% {
    background-color: #fff5d4;
  }
  50% {
    background-color: rgb(255, 196, 0);
  }
} */

.landing__tagline:before {
  content: "";
  animation: animate infinite 8s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes animate {
  0% {
    content: "We Hive";
  }
  100% {
    content: "Achieve";
  }
}

.landing__content {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  height: 720px;
  margin: 0 10px 0;
}
.hdg {
  font-size: 22px;
  color: #ff940d;
  font-style: italic;
  line-height: 2.4;
}

.bold {
  font-weight: 900;
  color: #ff940d;
}

.landing__title {
  line-height: 2;
  font-size: 20px;
  text-align: center;
  color: #ffd54d;
  font-weight: 500;
}

.landing__subtitle {
  font-size: 20px;
  line-height: 1.9;
  text-align: center;
  color: #ffd54d;
  margin: 10px;
  position: relative;
}

.step {
  position: absolute;
  color: #fff5d4;
  font-size: 36px;
  z-index: 1;
  margin-top: 40px;
  width: 100%;
}
.text {
  text-align: center;
}

.hexagon {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bold-text {
  font-size: 40px;
  text-transform: uppercase;
  color: #ff940d;
}

.landing__title-exp {
  text-align: center;
  color: #ff940d;
}

.ldg-btn {
  background-color: #ff940d;
  border-radius: 6px;
  font-size: 22px;
  color: #fff5d4;
  font-weight: bold;
  border: 1px solid #ff940d;
  width: 100%;
  height: 44px;
  margin: 40px auto 80px;
  cursor: pointer;
}

@media (min-width: 768px) {
  img {
    width: 100%;
  }
  .wrapper h1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .step {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  img {
    width: 100%;
  }
  .wrapper h1 {
    font-size: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left {
    width: 600px;
    margin-left: 60px;
  }
  .right {
    width: 600px;
    text-align: right;
    margin-left: 280px;
  }
  .landing__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    padding: 10px;
    position: relative;
  }
  .step-box {
    position: relative;
  }
  .step {
    position: absolute;
    font-size: 32px;
    margin-top: 150px;
    align-items: center;
    text-align: center;
  }
  .step-one {
    margin-top: 140px;
  }
  .left {
    margin-left: 160px;
  }
}
@media (min-width: 1440px) {
  img {
    width: 100%;
  }
  .wrapper h1 {
    height: 100vh;
    font-size: 160px;
  }
  .left {
    margin-top: 250px;
    margin-left: 180px;
  }
  .right {
    margin-top: 120px;
    margin-left: 1000px;
  }
}
