.RegistrationPage {
  margin: 0;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
}

.RegistrationPage__logo {
  height: 120px;
  width: 120px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.Section {
  padding-bottom: 40px;
}
.tagline {
  font-family: "Calistoga", cursive;
  color: rgb(255, 0, 0);
}

@media (min-width: 768px) {
  .RegistrationPage__logo {
    height: 220px;
    width: 220px;
    /* margin: 60px auto 60px; */
  }
}
