.RegistrationPage {
  margin: 0;
  height: 100vh;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RegistrationPage__logo {
  z-index: 1;
  height: 200px;
  width: 200px;
  position: relative;
  margin: 40px auto;
}

.tagline {
  margin-top: 60px;
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
}

@media (min-width: 768px) {
  .RegistrationPage__logo {
    width: 300px;
    height: 300px;
  }
}
