.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App__nav {
  background-color: darkgray;
  display: block;
  flex-direction: column;
}

.App__main {
  margin: 0;
}

/* set media queries */
@media (min-width: 768px) {
  .Hive_container {
    display: flex;
    flex-wrap: wrap;
  }
  .App__main {
    margin: 0;
  }
  .wrapper {
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  .App__nav {
    justify-content: center;
    align-items: center;
  }
}
