.Nav_flex {
  display: flex;
  flex-wrap: wrap;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App__nav {
  background-color: black;
  display: block;
  flex-direction: column;
}

.App__main {
  margin: 0;
}

/* set media queries */
@media (min-width: 768px) {
  .Hive_container {
    display: flex;
    flex-wrap: wrap;
  }

  .App__nav {
    background-color: black;
    display: block;
    flex-direction: column;
  }
  .App__main {
    margin: 0;
  }
  .wrapper {
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  .App__nav {
    justify-content: center;
    align-items: center;
  }
}
