.HiveNavPage__container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
  /* width: 320px; */
}

.Nav_heading {
  margin-bottom: 20px;
  color: rgba(255, 196, 0);
}
