.HiveNavPage__container {
  background-color: #ffc400;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: auto;
  width: 100vw;
}

.HiveNavPage__logo {
  margin: 10px;
  width: 100px;
  height: 100px;
  padding-bottom: 40px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-around;
  margin: 40px 0 10px;
}

.Nav_heading {
  display: none;
}

.Types__container {
  display: none;
}

.Nav__menu {
  margin-top: 33px;
  margin-bottom: 10px;
}

.hive-type:nth-child(odd) {
  position: relative;
  margin-left: 0px;
  margin-top: -15px;
}
.hive-type:nth-child(even) {
  position: relative;
  margin-left: -40px;
  margin-top: -15px;
}

@media (min-width: 768px) {
  .HiveNavPage__container {
    width: 50vw;
  }

  .Nav_heading {
    margin-bottom: 20px;
    color: rgba(255, 196, 0);
  }
  .HiveNavPage__logo {
    width: 120px;
    height: 120px;
  }

  .hive-type:nth-child(odd) {
    position: relative;
    margin-left: 0px;
    margin-top: -38px;
  }
  .hive-type:nth-child(even) {
    position: relative;
    margin-left: -60px;
    margin-top: -38px;
  }
}

@media (min-width: 1440px) {
  .HiveNavPage__container {
    width: 25vw;
  }

  .Nav_heading {
    display: flex;
  }
  .Types__container {
    display: flex;
  }

  .mobile-dropdown {
    display: none;
  }

  .Nav__menu {
    display: none;
  }

  .HiveNavPage__logo {
    width: 260px;
    height: 260px;
  }
  .logo-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 2560px) {
  .HiveNavPage__logo {
    width: 300px;
    height: 300px;
  }
}
