.HiveNavItem {
  text-decoration: none;
}

.HiveNavItem__title {
  display: block;
  font-size: 1em;
  margin: 18px 0 8px auto;
  width: 220px;
  height: 60px;
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(237, 55, 48);
  border: none;
}

.HiveNavItem__title:hover {
  color: #ffb72f;
  cursor: pointer;
}

.HiveNavItem.active {
  background-color: #ffb72f;
  color: #030f1f;
}
