.HiveNavItem {
  text-decoration: none;
}

.HiveNavItem__title {
  display: block;
  font-size: 1em;
  width: 220px;
  height: 60px;
  padding: 8px 8px;
  text-decoration: none;
  color: #292827;
  font-weight: bold;
  text-align: left;
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  border: none;
}

.HiveNavItem__title:hover {
  color: grey;
  cursor: pointer;
}
