.AddHiveForm {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.AddForm__goal_label::before {
  content: "*";
  color: red;
}

.Textarea {
  width: 200px;
  height: 100px;
}

.add-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 20px;
  margin: 20px;
  padding: 10px;
  background: rgb(255, 245, 212);
  border: none;
  border-bottom: solid 1px grey;
}
