.hexagon {
  position: relative;
  content: "test";
  width: 300px;
  height: 173.21px;
  background-color: #ffc400;
  margin: 86.6px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 43.934px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hexagon:before {
  top: -106.066px;
}

.hexagon:after {
  bottom: -106.066px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 300px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}
