.hex-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-welcome-heading {
  padding: 0;
  margin: 20px auto 40px;
  color: #ff4500;
  font-size: 65px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.hex-light {
  color: rgb(255, 245, 212);
  font-size: 18px;
  font-weight: 900;
}
.hex-light:hover {
  color: #ff4500;
}
.dash-welcome {
  text-align: center;
  margin: 140px 10px;
  width: 280px;
  font-size: 16px;
  line-height: 1.9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: black;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  z-index: 1;
}

.dash-hex {
  position: relative;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hex-flex {
    width: 40vw;
  }
}
@media (min-width: 1440px) {
  .hex-flex {
    width: 60vw;
  }
}
