.hex-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-welcome-heading {
  height: fit-content;
}

.orange {
  color: orangered;
}
.user-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-welcome-add,
.user-welcome-join {
  /* flex-direction: column; */
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.9;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  /* justify-content: space-between; */
  /* position: absolute; */
  /* z-index: 1; */
}
/* 
.right {
  position: absolute;
}

.left {
  position: absolute;
} */
/* 
.join-container {
  padding: 180px;
  margin-left: auto;
  margin-right: auto;
} */

@media (min-width: 1440px) {
  .user-flex {
    display: flex;
    justify-content: space-between;
  }

  .user-welcome-add,
  .user-welcome-join {
    flex-direction: column;
    width: 300px;
    margin: 100px;
    font-size: 16px;
    line-height: 1.9;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
  }

  .right {
    position: absolute;
  }

  .left {
    position: absolute;
  }

  .join-container {
    padding: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}
