.HiveMind__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.sub-heading {
  padding: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.group-message {
  text-align: center;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 40px;
}
.group-message::before {
  content: open-quote;
}
.group-message::after {
  content: close-quote;
}
.HiveMindPage__activity-list {
  list-style-type: none;
  padding: 0;
}
.HiveMindPage__activity-label-buzz {
  text-align: left;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 14px;
  height: auto;
}

.HiveMindPage__activity-label-notes {
  text-align: right;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 14px;
  height: auto;
}

.HiveMindPage__activity-text {
  background: rgb(255, 245, 212);
  padding: 10px 10px;
  margin: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100vw;
}

.buzz-text {
  text-align: left;
  margin-left: 90px;
  max-height: 120px;
}

.notes-text {
  text-align: right;
  margin-right: 90px;
  max-height: 120px;
}

.bee,
img {
  height: 20px;
  width: 20px;
}

.buzz {
  font-size: 1.5rem;
  color: rgb(255, 196, 0);
}

@media (min-width: 768px) {
  .HiveMindPage__activity-label-buzz {
    text-align: center;
    font-size: 16px;
  }
  .HiveMindPage__activity-label-notes {
    text-align: center;
    font-size: 16px;
  }

  .buzz-text {
    margin-left: 220px;
    max-height: 120px;
  }

  .notes-text {
    margin-right: 220px;
    max-height: 120px;
  }
}
