.HiveMind__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  margin: 10px;
}

.Goal-desc {
  color: orangered;
  margin: 10px auto 40px;
}

.group-message {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 40px;
}

.group-message::before {
  content: open-quote;
}

.group-message::after {
  content: close-quote;
}

.hive-mind-button {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HiveMindPage__activity-list {
  list-style-type: none;
  width: 100vw;
  padding: 0;
}
.HiveMindPage__activity-label-buzz {
  text-align: left;
  margin: 0 10px 0;
  padding: 10px 10px;
  font-size: 14px;
}

.HiveMindPage__activity-label-notes {
  text-align: right;
  margin: 0 10px 0;
  padding: 10px 10px;
  font-size: 14px;
}

.HiveMindPage__activity-text {
  background: rgb(255, 245, 212);
  padding: 10px 20px 10px;
  margin: 0;
  border-radius: 4px;
}

.buzz-text {
  text-align: left;
  max-height: 120px;
}

.notes-text {
  text-align: right;
  margin-right: 10px;
  max-height: 120px;
}

.bee,
img {
  height: 20px;
  width: 20px;
}

.buzz {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(255, 196, 0);
}

@media (min-width: 768px) {
  .HiveMindPage__activity-label-buzz {
    text-align: left;
    font-size: 16px;
  }
  .HiveMindPage__activity-label-notes {
    text-align: right;
    font-size: 16px;
  }
  .HiveMindPage__activity-text {
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .HiveMindPage__activity-text {
    margin: 0;
  }

  .buzz-text {
    margin-right: 100px;
  }

  .notes-text {
    margin-left: 100px;
  }
}

@media (min-width: 1440px) {
  .HiveMind__page,
  .HiveMindPage__activity,
  .HiveMindPage__activity-label,
  .HiveMindPage__activity-list {
    margin: 0;
    padding: 0;
    width: 49vw;
    overflow: hidden;
  }

  .HiveMindPage__activity-label-buzz {
    text-align: left;
    margin-left: 100px;
    font-size: 18px;
  }

  .HiveMindPage__activity-label-notes {
    text-align: right;
    font-size: 18px;
    margin-right: 100px;
  }

  .buzz-text,
  .notes-text {
    font-size: 18px;
  }
}
