.HiveMind__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.sub-heading {
  padding: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.group-message {
  text-align: center;
  font-size: 22px;
  font-style: italic;
}
.group-message::before {
  content: open-quote;
}
.group-message::after {
  content: close-quote;
}
.HiveMindPage__activity-list {
  list-style-type: none;
  padding: 0;
}
.HiveMindPage__activity-label-buzz {
  text-align: left;
  margin-left: 120px;
}

.HiveMindPage__activity-label-notes {
  text-align: right;
  margin-right: 120px;
  padding-top: 10px;
}

.HiveMindPage__activity::before {
  border-color: transparent #f5f5f5;
  border-style: solid;
  border-width: 0px 0px 10px 10px;
  content: "";
  display: block;
  height: 0px;
  position: absolute;
  width: 0;
  bottom: 14px;
  right: 7px;
}

.HiveMindPage__activity-text {
  background: rgb(255, 245, 212);
  padding: 10px 8px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.buzz-text {
  text-align: left;
  margin-left: 220px;
  max-height: 120px;
}

.notes-text {
  text-align: right;
  margin-right: 220px;
  max-height: 120px;
}

.bee,
img {
  height: 24px;
  width: 24px;
}

.buzz {
  font-size: 2rem;
  color: rgb(255, 196, 0);
}
