.Accordion__section {
  width: fit-content;
  position: relative;
}

/*.HiveType__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.Accordion__section {
  display: flex;
  /* flex-wrap: wrap; 
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
}

.Accordion {
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  color: #1a1c24;
  cursor: pointer;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

.Accordion:hover,
.active {
  background-color: #ccc;
}

.Accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* .Accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
} */

/* .rotate {
  transform: rotate(90deg);
} 

.Accordion__goal {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}
*/
