.JoinCodePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 768px) {
  .JoinCodePage {
    width: 48vw;
  }
}
