* {
  z-index: 30;
}

.Header {
  height: 60px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  background-color: black;
}

.Header h1 {
  margin: 10px;
}

.Header a {
  color: white;
  text-decoration: none;
}

.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in a:last-child {
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

.Header__logged-in a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }

  .Header h1 {
    font-size: 22pt;
  }
}
