.navigation {
  width: 100%;
}

.hive-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;
}

.logout,
.login {
  font-size: 1.1em;
  font-family: "Oswald", sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.55s;
  -webkit-transition: opacity 0.45s;
}

.log-button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 35px;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.log-button:hover,
.log-button:active,
.Header__logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.Header__not-logged-in {
  width: 140px;
  color: white;
}

.log-button:hover,
.log-button:active,
.logout,
.login {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: rgb(255, 245, 212);
}

.Header {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #ff940d;
}

@media (min-width: 2560px) {
  .Header {
    height: 80px;
  }
  .hive-icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    float: left;
  }
}
