.Header {
  display: none;
}

.Header h1 {
  margin: 10px;
  padding-left: 20px;
}

.Header a {
  color: rgb(255, 153, 0);
  text-decoration: none;
}

.Header__not-logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in a:last-child {
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

.Header__logged-in a {
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 450px) {
  .Header {
    height: 60px;
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: black;
  }

  .Header h1 {
    font-size: 22pt;
  }
}
