.Header {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.Header,
.nav-icon {
  height: 60px;
  margin: 0;
  padding: 0;
}
/* img {
  z-index: 1;
} */
.Header a {
  color: rgb(255, 153, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.Header__not-logged-in,
.Header__logged-in {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-left: 40px;
}
.Header__not-logged-in a:last-child {
  padding: 5px 15px;
  margin-right: 30px;
}

@media screen and (min-width: 425px) {
  .Header,
  .nav-icon {
    height: 60px;
  }
  .nav-icon {
    margin-left: 40px;
  }
  .Header__not-logged-in a:last-child {
    padding-right: 0;
    padding-left: 0px;
  }
  .Header__logged-in a {
    padding-right: 25px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .Header__not-logged-in,
  .Header__logged-in {
    font-size: 14px;
  }

  .Header__not-logged-in a:last-child {
    margin-left: 20px;
  }
}
