.AddHivePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 25vh;
}

.Page-title {
  font-size: 40px;
}
@media (min-width: 768px) {
  .AddHivePage {
    width: 48vw;
    margin-top: 5vh;
  }
}
