.Hyph {
  margin-right: 5px;
  margin-left: 5px;
}

.Textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin: 10px auto 10px;
  padding: 6px;
  text-align: left;
  width: 80%;
  border-radius: 4px;
}

.Textarea::placeholder {
  color: #ccc;
}

.Textarea {
  height: 200px;
}

.Button {
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 0.83) 83%,
    rgba(251, 223, 147, 0.8) 100%
  );
  color: #1a1c24;
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  padding: 10px 12px;
  margin-top: 30px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 20px;
  margin-right: 20px;
}
.Section--list {
  margin-left: 10px;
  margin-right: 10px;
}
