.Textarea {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin: 10px auto 10px;
  padding: 6px;
  text-align: left;
  width: 80%;
  height: 200px;
  border-radius: 4px;
  background-color: rgb(255, 245, 212);
}

.Textarea::placeholder {
  color: (255, 245, 212);
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 320px;
  justify-content: space-around;
  margin: 40px 0 40px;
}

.Button {
  background: #ff940d;
  color: rgb(255, 245, 212);
  cursor: pointer;
  z-index: 10;
  border: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: #ff940d;
  line-height: 1.1;
}

.Button:hover {
  background: rgb(255, 245, 212);
  color: #ff940d;
}

.Button::before,
.Button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: #ff940d;
  left: 11.7157px;
}

.Button:hover::before,
.Button:hover::after {
  background: rgb(255, 245, 212);
  color: #ff940d;
}

.Button::before {
  top: -28.2843px;
  border-top: solid 1.4142px black;
  border-right: solid 1.4142px black;
}

.Button::after {
  bottom: -28.2843px;
  border-bottom: solid 1.4142px black;
  border-left: solid 1.4142px black;
}

.Button span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 80px;
  height: 46.188px;
  /* z-index: 2; */
  background: inherit;
}

@media (min-width: 768px) {
  .Button {
    background: #ff940d;
    color: rgb(255, 245, 212);
    cursor: pointer;
    z-index: 10;
    border: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    width: 120px;
    height: 69.28px;
    background-color: #ff940d;
    margin: 34.64px 0;
  }

  .Button:hover {
    background: rgb(255, 245, 212);
    color: #ff940d;
  }

  .Button::before,
  .Button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 84.85px;
    height: 84.85px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: #ff940d;
    left: 17.5736px;
  }

  .Button:hover::before,
  .Button:hover::after {
    background: rgb(255, 245, 212);
    color: #ff940d;
  }

  .Button::before {
    top: -42.4264px;
  }

  .Button::after {
    bottom: -42.4264px;
  }

  .Button span {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 120px;
    height: 69.282px;
    z-index: 2;
    background: inherit;
  }
}
