.HeaderMain__logged-in {
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #ff003c;
  font-size: 20px;
  margin: 10px 10px 0 220px;
}

.HeaderMain__logged-in a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 245, 212);
  font-weight: 600;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
